<div class="container m-5 d-flex justify-content-center">
  <div class="d-flex justify-content-center" id="main-tea-wrapper">
    <img class="w-75" ngSrc="../../../../assets/images/main-tea.png" id="main-tea" alt="main-tea" height="640"
         width="1318">
  </div>
</div>


<section class="container">
  <div class="col text-center fw-bold h2 py-5">
    Ответы на часто задаваемые вопросы
  </div>


  <div ngbAccordion [closeOthers]="true"  class="col-lg-8 mx-auto" id="accordionPanelsStayOpenExample">
    <div ngbAccordionItem [collapsed]="false" class="pb-3 border-0 mx-auto">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-primary rounded-3 text-white shadow-none">
          Собираете ли вы подарочные боксы?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="true" class="pb-3 border-0 mx-auto">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-primary rounded-3 text-white shadow-none">
          Сколько у вас разновидностей чая?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus id minima, modi molestiae
          provident quidem saepe? Consectetur dolore harum illum incidunt quam quia repudiandae sed sit?
          Distinctio in nam qui!
        </div>
      </div>
    </div>


    <div ngbAccordionItem [collapsed]="true" class="pb-3 border-0 mx-auto">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-primary rounded-3 text-white shadow-none">
          В какой срок осуществляется доставка?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus id minima, modi molestiae
          provident quidem saepe? Consectetur dolore harum illum incidunt quam quia repudiandae sed sit?
          Distinctio in nam qui!
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="true" class="pb-3 border-0 mx-auto">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-primary rounded-3 text-white shadow-none">
          У вас обновляется ассортимент?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus id minima, modi molestiae
          provident quidem saepe? Consectetur dolore harum illum incidunt quam quia repudiandae sed sit?
          Distinctio in nam qui!
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="true" class="pb-3 border-0 mx-auto">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="bg-primary rounded-3 text-white shadow-none">
          Какого объема у вас пачки чая?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus id minima, modi molestiae
          provident quidem saepe? Consectetur dolore harum illum incidunt quam quia repudiandae sed sit?
          Distinctio in nam qui!
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Модальное окно -->
<div class="modal fade show w-100" [class.active]="showPopup" id="modalWindow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Перейти в каталог</h5>
        <button type="button" class="btn-close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        Посмотрите наши чайные коллекции!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePopup()" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" [routerLink]="'/catalog'">Перейти в каталог</button>
      </div>
    </div>
  </div>
</div>

<ng-template #popup let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Перейти в каталог</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    Точно не хотите посмотреть наши чайные коллекции?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn w-100 btn-primary" [routerLink]="'/catalog'" (click)="modal.dismiss()">Перейти в каталог</button>
  </div>
</ng-template>




