<div *ngIf="successfulResponse" [routerLink]="''" id="thanks" class="container m-auto text-center border-primary border-3 border m-5 py-4 w-75 rounded-5">
  <h4>
    Спасибо за заказ. Мы свяжемся с вами в ближайшее время!
  </h4>
  <h4>Кликните, чтобы перейти на главную.</h4>
</div>

<form [formGroup]="form" class="container col-lg-5 mb-5">
  <div class="col text-center fw-bold h2 py-5">
    Сделать заказ
  </div>

  <div class="d-flex mx-auto row">
    <div class="form-group d-inline-block p-2">
      <label class="pb-2" for="inputProduct">Товар</label>
      <input
        type="text"
        class="form-control"
        id="inputProduct"
        [readOnly]="true"
        formControlName="product">
    </div>
  </div>

  <div class="d-flex  mx-auto row mb-3 p-0">
    <div class="form-group col-md-4 col-sm-6 d-inline-block p-2">
      <label class="pb-2 form-label" for="name">Имя</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder=""
        value=""
        required
        formControlName="name">
      <div>
        <div
          class="invalid-feedback"
          *ngIf="name?.invalid
                && (name?.touched || name?.dirty)
                && name?.errors?.['required']">
          Укажите своё имя.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="name?.invalid
                && (name?.touched || name?.dirty)
                && name?.errors?.['letters']
                && !name?.errors?.['required']">
          Имя должно содержать только буквы.
        </div>


      </div>

    </div>
    <div class="form-group col-md-4 col-sm-6 d-inline-block p-2">
      <label class="pb-2 form-label" for="inputSurname">Фамилия</label>
      <input
        type="text"
        class="form-control"
        id="inputSurname"
        formControlName="last_name">
      <div>
        <div
          class="invalid-feedback"
          *ngIf="last_name?.invalid
                && (last_name?.touched || last_name?.dirty)
                && last_name?.errors?.['required']">
          Укажите свою фамилию.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="last_name?.invalid
                && (last_name?.touched || last_name?.dirty)
                && last_name?.errors?.['letters']
                && !last_name?.errors?.['required']">
          Имя должно содержать только буквы.
        </div>
      </div>
    </div>
    <div class="form-group col-md-4 d-inline-block p-2">
      <label class="pb-2 form-label" for="inputPhone">Телефон</label>
      <input
        type="number"
        class="form-control"
        id="inputPhone"
        required
        formControlName="phone"
      >
      <div>
        <div
          class="invalid-feedback"
          *ngIf="phone?.invalid
                && (phone?.touched || phone?.dirty)
                && phone?.errors?.['required']">
          Укажите свой номер телефона.
        </div>

        <div
          class="invalid-feedback"
          *ngIf="phone?.invalid
                && (phone?.touched || phone?.dirty)
                && phone?.errors?.['phone']">
          Номер телефона должен содержать 11 цифр.
        </div>


      </div>

    </div>
  </div>

  <div class="d-flex mx-auto row">
    <div class="form-group  col-sm-6 d-inline-block p-2">
      <label class="pb-2 form-label" for="inputCountry">Страна</label>
      <input
        type="text"
        class="form-control"
        id="inputCountry"
        required
        formControlName="country">

      <div>
        <div
          class="invalid-feedback"
          *ngIf="form.get('country')?.invalid
                && (country?.touched || country?.dirty)
                && country?.errors?.['required']">
          Укажите страну.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="country?.invalid
                && (country?.touched || country?.dirty)
                && country?.errors?.['letters']
                && !country?.errors?.['required']">
          Поле "Страна" должно содержать только буквы.
        </div>
      </div>
    </div>
    <div class="form-group  col-sm-6 d-inline-block p-2">
      <label class="pb-2 form-label" for="zip">Индекс</label>
      <input
        type="text"
        class="form-control"
        id="zip"
        maxlength="6"
        required
        formControlName="zip"
      >
      <div
        class="invalid-feedback"
        *ngIf="zip?.invalid
                && (zip?.touched || zip?.dirty)
                && zip?.errors?.['required']">
        Укажите индекс.
      </div>
    </div>
  </div>

  <div class="d-flex mx-auto row">
    <div class="form-group d-inline-block p-2">
      <label class="pb-2 form-label" for="inputAddress">Адрес</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        required
        formControlName="address"
      >
      <div>
        <div
          class="invalid-feedback"
          *ngIf="address?.invalid
                && (address?.touched || address?.dirty)
                && address?.errors?.['required']">
          Укажите адрес.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="address?.invalid
                && (address?.touched || address?.dirty)
                && address?.errors?.['address']
                && !address?.errors?.['required']">
          Адрес может содержать только буквы, цифры, дефис и слеш.
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex mx-auto row">
    <div class="form-group d-inline-block p-2">
      <label class="pb-2 form-label" for="inputComment">Комментарий</label>
      <textarea class="form-control" id="inputComment"></textarea>
    </div>
  </div>

  <div class="w-75 mt-4 px-2">
    <button (click)="formButtonClick()" [attr.disabled]="inProcess" type="button" class="border-dark hvr-wobble-vertical btn btn-primary d-inline-block px-5" id="formButton">Отправить</button>
  </div>

  <div *ngIf="!isValid" class="p-2 invalid-feedback">
    Заполните все поля формы.
  </div>

  <div *ngIf="errorOccurred" class="p-2 invalid-feedback">
    Произошла ошибка. Попробуйте еще раз.
  </div>
</form>


