.accordion-button::after {
  content: url("../../../../assets/images/accordion-arrow.svg");
}

#main-tea-wrapper {
  max-width: 1000px;
  max-height: 400px;
}

#main-tea {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 20px 30px 20px 20px rgba(12, 99, 228, 0.35);
}


#modalWindow{
  background-color: rgba(0, 0, 0, 0);
  &.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.56);

    .modal-content {
      animation: showSmoothly 1000ms;
      transform: translate(0, 100px);
    }
  }
}



@keyframes showSmoothly {
  from {
    transform: none;
  }
  to {
    transform: translate(0, 100px);
  }
}
























