<div class="card p-0" style="width: 18rem;">
  <div>
    <img class="card-img-top" src="{{product.image}}" alt="Card image {{product.id}}">
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{product.title}}</h5>
    <h5 class="card-title text-center">{{product.price | currency : 'руб.' }}</h5>
    <p class="card-text">{{product.description | maxWords}}</p>
    <a [routerLink]="['product']" [queryParams]="{'id': product.id}" class="btn btn-primary">Подробнее</a>
  </div>
</div>
