
<div class="container">
  <div class="row">
    <div class="col-5">
      <img id="product-image" src="{{product.image}}" style="aspect-ratio: 1/1" alt="Card image {{product.id}}">
      <div>
        <a [routerLink]="'/catalog'" class="btn btn-primary w-100 bg-black border-dark mb-3">Вернуться обратно</a>
      </div>
    </div>
    <div class="col-6">
      <h1 class="pb-4">{{product.title}}</h1>
      <p>{{product.description}}</p>
      <div>
        <a [routerLink]="'/order'" class="btn btn-primary p-3 w-100 align-items-center fs-4 mb-3">Купить</a>
      </div>
    </div>
  </div>
</div>


<!--<div class="card  m-auto" style="width: 38rem;">-->
<!--  <div>-->
<!--    <img class="card-img-top" src="{{product.image}}"  style="aspect-ratio: 1/1" alt="Card image {{product.id}}">-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{product.title}}</h5>-->
<!--    <p class="card-text">{{product.description}}</p>-->
<!--  </div>-->
<!--</div>-->
